/* Styles go here */
body {
    background-color: whitesmoke;
    margin-left: 150px;
}

.navbar {
    background-color: #00266B;
    /* color: #00266B; */
    font-size: 18px;
    height: 70px;
}

.navbar-brand {
    /* background-color: #00266B; */
    font-size: 24px;
    color: #fff;
}

.table {
    background-color: white;
    /* color: #00266b; */
}

.thead-light {
    background-color: #00266b;
}
